:root {
    font-family: 'Nunito', Roboto, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url('../images/neom-r4ZSR0cKJw8-unsplash.jpg');
    background-size: cover;
    filter: blur(3px);
    content: '';
}

#form-container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#form-box {
    width: 740px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: rgba(0,0,0,.8);
    border: 2px solid brown;
}

form {
    display: flex;
    flex-direction: column;
}

#form-content {
    font-size: 30px;
    margin: 40px;
    color: white;
}

input {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    text-decoration: underline;
    font-size: 30px;
    transition: all 0.2s;
    padding: 5px;
}

a {
    color: #FFA836;
    font-weight: bold;
    text-decoration: none;
}

input::placeholder {
    font-size: 20px;
    text-decoration: none;
}

legend {
    font-size: 50px;
}

#btn-continue {
    font-size: 20px;
    padding: 7px;
    padding-left: 60px;
    padding-right: 60px;
    background: #fc6a03;
    border: none;
    border-radius: 5px;
    color: white;
}

#btn-continue:hover {
    cursor:pointer;
}

#terms {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}
